*{
    margin: 0;
    padding: 0;
    text-align: center;
    /* pure document ko center me laane ke liye  */
}
h1{
    background-color: #081b25;
    color: #fff;
    height: 5rem;
    line-height: 5rem;
    /* //toda vertically laane ke liye jitni height utni hi line height*/
}
.choice {
    height: 165px;
    width: 165px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 6px solid #070707;

}
.choice:hover{
    /* opacity: 0.5; */
    cursor: pointer;
    background-color: #081b31;


}

img {
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 50%;
    /* round bnane  ke liye  */
}

.choices {
    display: flex;
    /* horizontal laane ke liye  */
    justify-content: center;
    align-items: center;
    gap: 3rem;
    margin-top: 5rem;
}
.score-board{
    display: flex;
    justify-content: center;
    align-items: center;
    /* vertically align krne ke liye  */
    font-size: 2rem;
    margin-top: 3rem;
    gap: 5rem;
}
#user-score,#comp-score{
    font-size: 4rem;
}
.msg-container{
    margin-top: 5rem;
}

#msg{
    background-color: #081b31;
    color: #fff;
    font-size: 2rem;
    margin-top: 5rem;
    display: inline;
    /* jitna text utne only utne ke liye  */
    padding: 1rem;
    border-radius: 1rem;
}